.big-container {
  height: 100vh;
  width: 100vw; }

.video-container {
  width: 100vw;
  overflow: hidden; }
  .video-container .video {
    width: 100vw;
    position: absolute;
    background-size: cover;
    overflow: hidden;
    filter: brightness(45%);
    margin: 0px;
    z-index: -1;
    top: 0; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

h1 {
  color: whitesmoke;
  font-family: 'Princess Sofia', cursive;
  font-size: 140px;
  position: relative;
  left: 50px;
  top: 25px;
  text-shadow: 5px 5px black;
  transform: rotate(353deg);
  line-height: 0;
  font-weight: bold;
  animation: fadein 7s; }

.news-box {
  width: 0;
  height: 0;
  border-top: 100px solid pink;
  border-left: 100px solid transparent;
  position: relative;
  right: 0;
  top: 0;
  z-index: -1; }
  .news-box p {
    color: whitesmoke;
    z-index: 0; }
